<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
	<appSettings>
		<add key="JsonPath" value="D:\StudioCalendar\calendartest-445006-70e93c8084a0.json" />
		<add key="SakaeID" value="htsh5pr8vh2un5hcpb5nag89ms@group.calendar.google.com" />
		<add key="AoiID" value="vbe43rqi7lo1ce7srtcph4res0@group.calendar.google.com" />
		<add key="SakaeOk" value="さかえ空き" />
		<add key="SakaeDt1" value="11:30" />
		<add key="SakaeDt2" value="14:00" />
		<add key="SakaeDt3" value="16:30" />
		<add key="SakaeDt4" value="19:00" />
		<add key="AoiOk" value="あおい空き" />
		<add key="AoiDt1" value="12:30" />
		<add key="AoiDt2" value="15:00" />
		<add key="AoiDt3" value="17:30" />
		<add key="AoiDt4" value="20:00" />
	</appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>